<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MSQLConnectionString" value="P13JjXyVDfUAPJPgxh8cfTOAiyVAjTcEwLLBTMh4gXQuZdp2diH7+UB5Hw1KYsHhi97NU10JZ2riksp/qA6tz3ED+bIVO1rsTsaBASrsOGSfh/ykUp9BciBwlYxYo1gc"/>
    <!--<add key="MSQLConnectionString" value="P13JjXyVDfWeSlFBp0PWHri3JsoLqUMJywgfHre2nPtW8HoieL5lOXW6ZuyMjQquojb54Z98SFuQpF/fksOjVHlDw7kQ9AS2leFkPZmucjaju88EJtJdiw=="/>-->
    <add key="CachePath" value="DawenShopmanagerCache.xml"/>
    <add key="systemdata" value="ydwdes21"/>
    <add key="systemName" value="Bw7Yfoh11TAodHGXZr6h5TTd4me4p21w"/>
  </appSettings>
</configuration>